In [2]:
import pandas as pd

In [3]:
mat = pd.read_csv("student-mat.csv", sep=";")
por = pd.read_csv("student-por.csv", sep=";")

In [4]:
mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [791]:
mat.groupby("sex")["sex"].count()

sex
F    208
M    187
Name: sex, dtype: int64

In [792]:
mat.groupby("sex")["sex"].count()

sex
F    208
M    187
Name: sex, dtype: int64

In [16]:
mat_por = pd.concat([mat, por], axis=0)

In [17]:
f_m1 = mat_por.groupby("sex")["sex"].count().sort_values(ascending=False)

In [18]:
f_m1

sex
F    591
M    453
Name: sex, dtype: int64

In [839]:
girls = f_m1.iloc[0]
boys  = f_m1.iloc[1]

In [840]:
girls,boys

(416, 374)

In [14]:
bb,gg = mat.groupby("sex")["sex"].count().sort_values(ascending=False)

In [15]:
bb,gg

(208, 187)

In [10]:
boys,girls   = mat[mat['sex'] == 'M'].shape[0],mat[mat['sex'] == 'F'].shape[0]

In [11]:
boys,girls

(187, 208)

In [24]:
ooo = mat[(mat['age'] == 17) & (mat['G3'] >= 10) & (mat['G3'] <= 15)]

In [25]:
students_17_year_old = ooo.groupby('age')['age'].count().iloc[0]

In [26]:
students_17_year_old   #59

59

In [22]:
ooo = mat[(mat['age'] == 17) & (mat['G3'] >= 10) & (mat['G3'] <= 15)].shape[0]

In [23]:
ooo

59

In [800]:
mat[['G1','G2','G3']].mean(axis=0)

G1    10.908861
G2    10.713924
G3    10.415190
dtype: float64

In [801]:
mat['avg_g'] =(mat['G1']+mat['G2']+mat['G3'])/3

In [802]:
mat_top_10 = mat.sort_values(by='avg_g', ascending=[False]).head(10)

In [803]:
mat_top_10

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,avg_g
47,GP,M,16,U,GT3,T,4,3,health,services,...,2,2,1,1,2,4,19,19,20,19.333333
110,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,5,3,1,1,4,6,18,19,19,18.666667
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,5,2,1,1,3,10,18,19,19,18.666667
374,MS,F,18,R,LE3,T,4,4,other,other,...,4,4,1,1,1,0,19,18,19,18.666667
42,GP,M,15,U,GT3,T,4,4,services,teacher,...,3,3,1,1,5,2,19,18,18,18.333333
286,GP,F,18,U,GT3,T,2,2,at_home,at_home,...,3,3,1,2,2,5,18,18,19,18.333333
293,GP,F,17,R,LE3,T,3,1,services,other,...,1,2,1,1,3,6,18,18,18,18.000000
129,GP,M,16,R,GT3,T,4,4,teacher,teacher,...,5,5,2,5,4,8,18,18,18,18.000000
245,GP,M,16,U,GT3,T,2,1,other,other,...,3,3,1,1,4,6,18,18,18,18.000000
198,GP,F,17,U,GT3,T,4,4,services,teacher,...,2,4,2,3,2,24,18,18,18,18.000000

In [804]:
mat_top_10 [(mat_top_10 ['sex'] == 'M')]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,avg_g
47,GP,M,16,U,GT3,T,4,3,health,services,...,2,2,1,1,2,4,19,19,20,19.333333
110,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,5,3,1,1,4,6,18,19,19,18.666667
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,5,2,1,1,3,10,18,19,19,18.666667
42,GP,M,15,U,GT3,T,4,4,services,teacher,...,3,3,1,1,5,2,19,18,18,18.333333
129,GP,M,16,R,GT3,T,4,4,teacher,teacher,...,5,5,2,5,4,8,18,18,18,18.000000
245,GP,M,16,U,GT3,T,2,1,other,other,...,3,3,1,1,4,6,18,18,18,18.000000

In [805]:
boys_from_top_10 = len(mat_top_10 [(mat_top_10 ['sex'] == 'M')])

In [806]:
boys_from_top_10

6

In [29]:
mat['avg_g'] =(mat['G1']+mat['G2']+mat['G3'])/3
mat_top_10 =  mat.sort_values(by='avg_g', ascending=[False]).head(10) 
boys_from_top_10 =  mat_top_10[mat_top_10 ['sex'] == 'M'].shape[0] 
mat.drop('avg_g',inplace=True,axis=1)
boys_from_top_10

6

In [807]:
ooo1 = mat_por[(mat_por['internet'] == 'yes') & (mat_por['romantic'] == 'yes')]

In [808]:
mean = ooo1['absences'].mean()

In [809]:
std = ooo1['absences'].std()

In [810]:
mean, std

(8.155172413793103, 11.228907845321208)

In [31]:
ooo2 = mat[(mat['internet'] == 'yes') & (mat['romantic'] == 'yes')]
mean = ooo2['absences'].mean()
std = ooo2['absences'].std()
mean, std

(8.155172413793103, 11.25329203873895)

In [32]:
mean, std =  mat[(mat['internet'] == 'yes') & (mat['romantic'] == 'yes')]\
    .agg({'absences':['mean', 'std']})['absences']
mean, std

(8.155172413793103, 11.25329203873895)

In [811]:
student_counts_for_each_age  = mat_por.groupby('age')['age','absences'].count()[['age']]

In [39]:
mat.groupby('age').size()

age
15     82
16    104
17     98
18     82
19     24
20      3
21      1
22      1
dtype: int64

In [40]:
ts_for_each_age  = list(mat.groupby('age').count().sort_values(by='age').max(axis=1))
ts_for_each_age

[82, 104, 98, 82, 24, 3, 1, 1]

In [45]:
mat['age'].value_counts().sort_indexes()

AttributeError: 'Series' object has no attribute 'sort_indexes'

In [43]:
ts_for_each_age  = mat['age'].value_counts().sort_index().to_list()
ts_for_each_age

AttributeError: 'Series' object has no attribute 'to_list'

In [842]:
student_counts  = mat.groupby('age').size()

In [843]:
student_counts

age
15     82
16    104
17     98
18     82
19     24
20      3
21      1
22      1
dtype: int64

In [812]:
student_counts_for_each_age  = student_counts_for_each_age.rename_axis('index1').reset_index()

In [813]:
student_counts_for_each_age

   index1  age
0      15  164
1      16  208
2      17  196
3      18  164
4      19   48
5      20    6
6      21    2
7      22    2

In [814]:
#Task 6* (2 points). Find most frequent pair (Fjob, Mjob) of students from math grade table.

In [815]:
group_6  = mat[(mat.Fjob != 'other') & (mat.Mjob != 'other')].groupby(['Fjob','Mjob'])['Fjob'].count().\
reset_index(name = "Group_Count")

In [816]:
group_6= group_6.sort_values(['Group_Count'], ascending=False)

In [817]:
group_6

        Fjob      Mjob  Group_Count
9   services  services           43
10  services   teacher           19
7   services   at_home           15
14   teacher   teacher           12
8   services    health           10
13   teacher  services            8
0    at_home   at_home            7
1    at_home  services            6
4     health    health            6
5     health  services            4
6     health   teacher            4
2    at_home   teacher            2
3     health   at_home            2
11   teacher   at_home            2
12   teacher    health            1

In [818]:
father =group_6[['Fjob']].iloc[0].values.tolist()
mother =group_6[['Mjob']].iloc[0].values.tolist()

In [46]:
father, mother

NameError: name 'father' is not defined

In [54]:
 father, mother =mat[(mat.Fjob != 'other') & (mat.Mjob != 'other')]\
.groupby(['Fjob','Mjob'])\
.agg('count')\
.sort_values(by='school',ascending = False)\
.head(1)\
.index\
.values[0]    
    

father, mother

('services', 'services')

In [66]:
mat[(mat.Fjob != 'other') & (mat.Mjob != 'other')]\
.groupby(['Fjob','Mjob'])\
.value_counts()\
.head(1)\
.index\
.values[0]

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [820]:
pog_1 =por[(por['G1'] != 0) & (por['G2'] != 0) & (por['G3'] != 0)]
mat_1 =mat[(mat['G1'] != 0) & (mat['G2'] != 0) & (mat['G3'] != 0)]

In [821]:
 columns = ['G1','G2','G3']

In [822]:
pog_1.drop(columns, inplace=True, axis=1) 
mat_1.drop(columns, inplace=True, axis=1) 
mat_1.drop(columns= ['avg_g'], inplace=True, axis=1)

In [823]:
table_7 = pd.concat([pog_1, mat_1], axis=0)

In [824]:
table_7_1 = table_7 [table_7 .duplicated(keep=False)]

In [825]:
table_7_2 = table_7_1.drop_duplicates()

In [844]:
both_present = table_7_2.size

In [845]:
both_present

1110

In [64]:
join_col = [c for c in mat.columns if not c in ['G1','G2','G3']]
merged = mat.merge(por,how='inner', on = join_col, suffixes=['_mat','_pol'])
merged.shape[0]

39

In [73]:
mat_mean = mat.groupby('school')['G3'].mean()
por_mean = por.groupby('school')['G3'].mean()

GP_diff = abs(mat_mean['GP']-por_mean['GP'])
MS_diff = abs(mat_mean['MS']-por_mean['MS'])
GP_diff

2.0868608045953643

In [75]:
GP_diff,MS_diff = (mat.groupby('school')['G3'].mean()-por.groupby('school')['G3'].mean()).abs()
GP_diff,MS_diff

(2.0868608045953643, 0.8026163909195851)

In [72]:
GP_diff
MS_diff 
top5_correlations = 0

In [828]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{boys} {girls}\n")
    file.write(f"{students_17_year_old}\n")
    file.write(f"{boys_from_top_10}\n")
    file.write(f"{round(mean, 3)} {round(std, 3)}\n")
    file.write(f"{student_counts_for_each_age}\n")
    file.write(f"{father} {mother}\n")
    file.write(f"{both_present}\n")
    file.write(f"{round(GP_diff, 3)} {round(MS_diff, 3)}\n")
    file.write(f"{top5_correlations}")

In [ ]:
data.groupby('Category')['Rating'].mean().sort_values(ascending=False).index[1]